name: Automated Build

on:
  push:
    branches:
      - main

jobs:
  push:

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    permissions:
      contents: read
      packages: write


    strategy:
      matrix:
        component: [ hasher, rng, webui, worker ]

    steps:
      - 
        uses: actions/checkout@v3

      -
        name: Log into Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.HARBOR_ADDRESS }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_TOKEN }}

      -
        uses: docker/setup-qemu-action@v3

      -
        uses: docker/setup-buildx-action@v3

      -
        name: hasher
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.component }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ secrets.HARBOR_ADDRESS }}/${{ matrix.component }}:v0.1
